python-dotenv == 1.0.1
PyPDF2 == 3.0.1
streamlit == 1.31.1
streamlit-option-menu == 0.3.12
streamlit-extras == 0.4.0
google-generativeai == 0.3.2
pdfminer == 20191125
pdfminer.six == 20231228
docx2txt == 0.8
gtts == 2.5.1
