@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

.fa-brands.fa-instagram{
    margin-left: 20px;
}

.fa-brands.fa-linkedin{
    margin-left: 20px;
}

.fa-brands.fa-youtube{
    margin-left: 20px;
}

.fa-brands.fa-twitter{
    margin-left: 20px;
}